@use "sass:math";
@import 'variables';

@mixin rem($property, $pixels) {
    #{$property}: #{math.div($pixels, 16)}rem;
}

@mixin flex-display() {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flex-direction($direction: row) {
    -webkit-box-orient: $direction;
    -webkit-box-direction: $direction;
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin align-items($align) {
    -webkit-box-align: $align;
    -webkit-align-items: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

@mixin justify-content($justify) {
    -webkit-box-pack: $justify;
    -webkit-justify-content: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
}

@mixin align-content($align) {
    -webkit-align-content: $align;
    -ms-flex-line-pack: $align;
    align-content: $align;
}

@mixin neumorph {
    border-radius: 32px;
    background: $neu-main;
    box-shadow: 7px 7px 16px $neu-dark,
        -7px -7px 16px $neu-light, inset 0px 0px 0px $neu-dark,
        inset 0px 0px 0px $neu-light;

    transition: box-shadow 0.02s ease;


}

@mixin neumorph-inset {
    box-shadow: 0px 0px 0px $neu-dark,
        0px 0px 0px $neu-light, inset 7px 7px 16px $neu-dark,
        inset -7px -7px 16px $neu-light;
    // transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.02s ease;

}



@mixin tablet {
    @media (max-width: 1150px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}